extends ../../templates/layout.pug
block variable
	- var pageTitle = 'Простой слайдер. BOLT-SLIDER набор плагинов для создания слайдеров на сайте.'
	- var page = 'light'

block main
	.container
		p Описание простого слайдера

	.container
		include ../../templates/slider-1
		pre
			code
				include ./js/slider-1.js

		script
			include ./js/slider-1.js

	.container
		include ../../templates/slider-2
		pre
			code
				include ./js/slider-2.js

		script
			include ./js/slider-2.js

	.container
		include ../../templates/slider-3
