extends ../../templates/layout.pug
block variable
	- var pageTitle = 'Простой слайдер. BOLT-SLIDER набор плагинов для создания слайдеров на сайте.'

block main
	.container
		p Описание простого слайдера

	.container
		include ../../templates/slider-1

	.container
		include ../../templates/slider-2

	.container
		include ../../templates/slider-3
