
.container
  h1
    a(href="/") BOLT-SLIDER набор плагинов для создания слайдеров на сайте.

  nav
    ul
      li
        p
          a(href="/slider/light/") Простой слайдер.
          |	слайдер с минимальным количеством опций.
