.bolt-slider.slider-3
	.bolt-slider__item
		p Шифровальщица попросту забыла ряд ключевых множителей и тэгов.
	.bolt-slider__item
		p Съешь ещё этих мягких французских булок, да выпей [же] чаю. 1234567890.
	.bolt-slider__item
		p Щипцами брюки разлохмачу, Гребёнкой волосы взъерошу. Эффектно ожидать удачу До самой смерти я не брошу!
	.bolt-slider__item
		p Подъём с затонувшего эсминца легкобьющейся древнегреческой амфоры сопряжён с техническими трудностями.
	.bolt-slider__item
		p Завершён ежегодный съезд эрудированных школьников, мечтающих глубоко проникнуть в тайны физических явлений и химических реакций.
	.bolt-slider__item
		p Всё ускоряющаяся эволюция компьютерных технологий предъявила жёсткие требования к производителям как собственно вычислительной техники, так и периферийных устройств.
	.bolt-slider__item
		p Шалящий фавн прикинул объём горячих звезд этих вьюжных царств.
