.bolt-slider.slider-2.no-js

	span.prew.prew-2
	span.next.next-2

	.bolt-slider__list-wrap
		.bolt-slider__list
			.bolt-slider__item
				img(src="/img/1.jpg", alt="картинка 1")
			.bolt-slider__item
				img(src="/img/2.jpg", alt="картинка 2")
			.bolt-slider__item
				img(src="/img/3.jpg", alt="картинка 3")
			.bolt-slider__item
				img(src="/img/4.jpg", alt="картинка 4")
			.bolt-slider__item
				img(src="/img/5.jpg", alt="картинка 5")
			.bolt-slider__item
				img(src="/img/6.jpg", alt="картинка 6")
			.bolt-slider__item
				img(src="/img/7.jpg", alt="картинка 7")
			.bolt-slider__item
				img(src="/img/8.jpg", alt="картинка 8")

	.bolt-slider__pagination
		span.bolt-slider__pagination-btn
		span.bolt-slider__pagination-btn.bolt-slider__pagination-btn--active
