extends templates/layout.pug

block variable
	- var pageTitle = 'BOLT-SLIDER набор плагинов для создания слайдеров на сайте.'
	- var page = 'index'

block main
	.container
		h2 Описание.

		p Стили только необходимые для работы слайдера. В библиотеке нет стилей для кнопок навигации и пагинации. Элементы управления могут располагаться в любом месте кода. Кнопки навигации передаются элементами. Для создания кнопок пагинации передается блок в котором они будут генерироваться.

		p Если не переданы или с ошибкой переданы опции в консоль выводинтся ошибка:

		pre
			code
				span.color-yellow ⚠
				| &nbsp;Not slider options
				|
				span.color-yellow ⚠
				| &nbsp;Not slider

	.container
		h2 Доступность.

		ol
			li
				p для слайдера необходимо добавить атрибут #[code 'aria-label']. #[br] Этот атрибут не должен содержать слово слайдер или карусель. так как скрин-ридер озвучит #[code 'aria-roledescription'], значение которого можно изменить опционально. По умолчанию #[code 'carousel'].
			li
				p слайдам так же необходимо добавить атрибут #[code 'aria-label']. #[br] Так же в #[code 'aria-label'] не нужно прописывать слово слайд так как скрин-ридер озвучит #[code 'aria-roledescription'], значение которого можно изменить опционально. По умолчанию #[code 'slide'].
