extends templates/layout.pug

block variable
	- var pageTitle = 'BOLT-SLIDER набор плагинов для создания слайдеров на сайте.'
	- var page = 'index'

block main
	.container
		p Если не переданы или с ошибкой переданы опции в консоль выводинтся ошибка

		pre
			code
				| ⚠ Not slider options
				| ⚠ Not slider
