.bolt-no-js .bolt-slider__list-wrap {
	overflow: initial;
}

.bolt-no-js .bolt-slider__list {
	overflow-x: auto;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;
}

.bolt-no-js .bolt-slider__item {
	scroll-snap-align: center;
	flex-shrink: 0;
}

.bolt-no-js .prew,
.bolt-no-js .next,
.bolt-no-js .bolt-slider__pagination {
	display: none;
}

.bolt-slider__list-wrap {
	overflow: hidden;
}

.bolt-slider__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: flex-start;
}

.bolt-slider__item {
	flex-basis: 100%;
}

.bolt-slider__content {
	display: none;
}

.bolt-slider__item--active .bolt-slider__content {
	display: block;
}
